Привет. Это бот для оценивания докладов на конференции

Команды:
/help - помощь
/conference - текущая конференция
/schedule - расписание докладов

/notification - помощь по напоминания
/my_notification - мои напоминания
/set_notification - создать напоминания

/evaluate