Привет. Это помощник для сбора оценок доклада.
Здесь находится панель админа. Доступ пользователям выдается в конфигурационном файле.

Чтобы загрузить расписание, нужно просто отправить `.csv` файл в чат.

Команды:
/help
/conference
/schedule
/export