Привет. Это помощник для сбора оценок доклада.
Здесь находится панель админа. Доступ пользователям выдается в конфигурационном файле.

Чтобы загрузить расписание, нужно отправить `.csv` файл в чат.

Команды:
/help
/export

Другие команды находятся в боте для пользователей.