Привет. Это бот для оценивания докладов на конференции.
Чтобы оценить нужный вам доклад, требуется открыть расписание, выбрать нужный доклад, нажать на кнопку "Оценить".
Чтобы добавить напоминание о докладе, требуется открыть расписание, выбрать нужный доклад, нажать на кнопку "Создать напоминание".

Команды:
/help - помощь
/conference - текущая конференция
/schedule - расписание докладов

/my_info - задать личные идентификационные данные