Здесь ты можешь создать для себя создать напоминания.
Напоминание будет отправлено за 10 минут до начала доклада.

Чтобы создать напоминание ты должен:
1) /schedule - открыть расписание докладов и запомнить номер доклада
2) /set_notifications - ввести команду
3) ввести номера докладов через пробел. Чтобы отменить, введите "-"